body{
      font-family: Quintessential;
      margin: 0;
      padding: 20px;
      background-color: #000000;}
h1{
      color: #000000;
}

p{
      color: #000000;
}
.t{color: #FF00FF}
.b{color: #12c63b}
.i{color: #1512c6}
.ba{color: #BB0BBB}
