body{
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #85C7F2;
}
h1{
      color: #8B0000;
}

p{
      color: #333333;
}
.t{color: #FF00FF}
.b{color: #12c63b}
.i{color: #1512c6}
.ba{color: #BB0BBB}
